<div class="auth reset cards">
  <div class="row cards__item training__card">
    <div class="col s12 m10 l10 auth__form"> 
      {{#if error}}
        <p class="alert">{{error}}</p>
      {{/if}}

      <h1>Задать пароль</h1>
      <form action="/auth/password" method="POST">
        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Новый пароль</label>
          <span class="helper-text" data-error="Введите пароль"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">

        <button class="btn btn-primary" type="submit">Обновить пароль</button>
      </form>
    </div>
  </div>
</div>
