<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>

<footer class="footer-container footer">
  <div class="footer__info">
    2020 © <a href="https://github.com/rusakova-lyudmila" target="_blank">Rusakova Lyudmila</a>, <a href="https://github.com/snaipp1" target="_blank">Yury Halushko</a>
  </div>
  <div class="footer__logo">
    <a href="https://rs.school/js/" target="_blank">
      <img src="/assets/images/rs_school_logo.svg" alt="RS School">
    </a>
  </div>
</footer>