<main class="main-container">
    <div class="page-container">
        <h1>Smart Kids</h1>
        <h2>Тренажеры для развития памяти, внимания, логики и мышления</h2>
        <div class="buttons-container">
            <a href="/auth/login#login"><button class="btn btn-lg btn-login btn_cyan" type="button">Тренироваться</button></a>
            <a href="/auth/login#register"><button class="btn btn-lg btn-register btn_orange" type="button">Зарегистрироваться</button></a>
        </div>
    </div>
</main>