<main class="main-container">
  <div class="cards-container cards">
    <a class="cards__link" href="/trainings/memory">
      <div class="cards__item">
        <div class="card__img" data-section="memory" style="background-image: url('/assets/images/bg/bg-memory.jpg');"></div>
        <div class="card__name" data-section="memory">Память</div>
      </div>
    </a>
    <a class="cards__link" href="/trainings/attention">
      <div class="cards__item">
        <div class="card__img" data-section="attention" style="background-image: url('/assets/images/bg/bg-attention.jpg');"></div>
        <div class="card__name" data-section="attention">Внимание</div>
      </div>
    </a>
    <a class="cards__link" href="/trainings/logic">
      <div class="cards__item">
        <div class="card__img" data-section="logic" style="background-image: url('/assets/images/bg/bg-logic.jpg');"></div>
        <div class="card__name" data-section="logic">Логика</div>
      </div>
    </a>
    <a class="cards__link" href="/trainings/thinking">
      <div class="cards__item">
        <div class="card__img" data-section="thinking" style="background-image: url('/assets/images/bg/bg-thinking.jpg');"></div>
        <div class="card__name" data-section="thinking">Мышление</div>
      </div>
    </a>
  </div>
</main>