<main class="main-container subsection-container">
    <h2 class="section__heading">Внимание</h2>
    <div class="cards-container cards">
        <div class="cards__block cards-click">
            <div class="cards__item cards__front" data-training="click">
                <a class="card__link" href="/trainings/attention/click">
                    <div class="card__img" style="background-image: url('/assets/images/attention/click.png');"></div>
                </a>
                <div class="card__content">
                    <a class="card__link" href="/trainings/attention/click">
                        <div class="card__name">Клик-Клик</div>
                    </a>
                    <i class="card__button material-icons" data-card="click">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="click">
                <div class="card__descr">Тренажер для развития внимания</div>
                <div class="card__content">
                    <a class="card__link" href="/trainings/attention/click">
                        <div class="card__name">Клик-Клик</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>