<main class="main-container subsection-container">
    <h2 class="section__heading">Память</h2>
    <div class="cards-container cards">
        <div class="cards__block cards-matrix">
            <div class="cards__item cards__front" data-training="matrix">
                <a class="card__link" href="/trainings/memory/matrix">
                    <div class="card__img" style="background-image: url('/assets/images/memory/matrix.png');"></div>
                </a>
                <div class="card__content">
                    <a class="card__link" href="/trainings/memory/matrix">
                        <div class="card__name">Матрицы памяти</div>
                    </a>
                    <i class="card__button material-icons" data-card="matrix">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="matrix">
                <div class="card__descr">Тренажер для развития образной памяти</div>
                <div class="card__content">
                    <a class="card__link" href="/trainings/memory/matrix">
                        <div class="card__name">Матрицы памяти</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>