<main class="main-container subsection-container">
    <h2 class="section__heading">Мышление</h2>
    <div class="cards-container cards">
        <div class="cards__block cards-comparison">
            <div class="cards__item cards__front" data-training="comparison">
                <a class="card__link" href="/trainings/thinking/comparison">
                    <div class="card__img" style="background-image: url('/assets/images/thinking/comparison.png');"></div>
                </a>
                <div class="card__content">
                    <a class="card__link" href="/trainings/thinking/comparison">
                        <div class="card__name">Пространственное сравнение</div>
                    </a>
                    <i class="card__button material-icons" data-card="comparison">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="comparison">
                <div class="card__descr">Тренажер для развития образного мышления</div>
                <div class="card__content">
                    <div class="card__name">Пространственное сравнение</div>
                </div>
            </div>
        </div>
    </div>
</main>