<main class="main-container subsection-container">
    <h2 class="section__heading">Логика</h2>
    <div class="cards-container cards">
        <div class="cards__block cards-addition">
            <div class="cards__item cards__front" data-training="addition">
                <a class="card__link" href="/trainings/logic/addition">
                    <div class="card__img" style="background-image: url('/assets/images/logic/addition.png');"></div>
                </a>
                <div class="card__content">
                    <a class="card__link" href="/trainings/logic/addition">
                        <div class="card__name">Сложение</div>
                    </a>
                    <i class="card__button material-icons" data-card="addition">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="addition">
                <div class="card__descr">Тренажер для развития логики</div>
                <div class="card__content">
                    <a class="card__link" href="/trainings/logic/addition">
                        <div class="card__name">Сложение</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cards__block cards-subtraction">
            <div class="cards__item cards__front" data-training="subtraction">
                <a class="card__link" href="/trainings/logic/subtraction">
                    <div class="card__img" style="background-image: url('/assets/images/logic/subtraction.png');"></div>
                </a>
                <div class="card__content">
                    <a class="card__link" href="/trainings/logic/subtraction">
                        <div class="card__name">Вычитание</div>
                    </a>
                    <i class="card__button material-icons" data-card="subtraction">rotate_left</i>
                </div>
            </div>
            <div class="cards__item cards__back" data-card="subtraction">
                <div class="card__descr">Тренажер для развития логики</div>
                <div class="card__content">
                    <a class="card__link" href="/trainings/logic/subtraction">
                        <div class="card__name">Вычитание</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>